body {
    display: flex;
    flex-direction: row;

}

.column {
    flex: 1;
    background-color: #f2f2f2;
    height: 100%;
    width: auto;
    
}

.main {
    height : 700px;
    width: 500px;
    background-color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow:hidden;
    
   
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow:calc();
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
  
}

.view {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
    
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 240px;

}

button:hover {
    background-color: rgb(53, 25, 177);
    transition: background-color 0.3s ease;
}